{% extends 'base.html' %}

{% block content %}
{% load cart %}
    <div class="container" style="margin-top: 100px">
        <div class="row mx-auto">
            <!--filters-->
            <div class="col-lg-3 col-md-3 col-sm-10 col-12 mx-auto">
                <div class="list-group">
                        <a href="/" class="list-group-item list-group-item-action">All Products</a>
                    {% for cat in categories %}
                    <a href="/?Category={{ cat.id }}" class="list-group-item list-group-item-action">{{ cat.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <!--All Products-->
            <div class="product col-lg-9">
                <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-4 col-sm-10 col-12 mx-auto" >
                                <div class="card mx-auto mb-3" id="{{ product.id }}" style="width: 18rem;">
                                        <img src="{{ product.images.url }}" class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.title }}</h5>
                                                <p class="card-text">{{ product.price|currency }}</p>
                                                <div class="card-footer row nu-gutter ">
                                                    {% if product|is_in_cart:request.session.cart %}
                                                        <div class="row p-2 mx-auto">
                                                            <form action="/#{{ product.id }}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="prod_id" value="{{ product.id }}">
                                                                <input type="hidden" name="remove" value="True" >
                                                                <input type="submit" value="-" class="col-2 btn btn-block btn-secondary">
                                                            </form>
                                                            <div class="text-center col">{{ product|cart_count:request.session.cart }}</div>
                                                            <form action="/#{{ product.id }}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="prod_id" value="{{ product.id }}">
                                                                <input type="submit" value="+" class="col-2 btn btn-block btn-secondary">
                                                            </form>
                                                        </div>
                                                    {% else %}
                                                        <form action="/#{{ product.id }}" method="POST" class="btn-block">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="prod_id" value="{{ product.id }}">
                                                            <input href="#" type="submit" class="btn btn-block form-control btn-sm" value="Add to Cart">
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                </div>
                        </div>
                        {% endfor%}
                </div>
            </div>
                
        </div>     
    </div>
    
{% endblock %}