{% extends 'base.html' %}


{% block content %}


<div class="container">
        <div class="p-5 m-5">
            <div class="col-lg-5 mx-auto border rounded">
                <h3 class="alert alert-light border rounded">Login Here</h3>
                    <form action="/login" method="POST">
                        {% csrf_token %}
                        {% if err != None %}
                        <div class="alert alert-danger p-2">
                            {{ err }}
                        </div>
                        {% endif %}
                        {% if success_msg != None %}
                        <div class="alert alert-success p-2">
                            {{ success_msg }}
                        </div>
                        {% endif %}
                        <div class="form-group m-2">
                            <label for="">Email</label>
                            <input type="email" 
                            name="email" id="" 
                            class="form-control" 
                            placeholder="example@gmail.com" required>
                        </div>
                        <div class="form-group m-2">
                                <label for="">Password</label>
                                <input type="password" 
                                name="password" id="" 
                                class="form-control" 
                                placeholder="Password" required>
                        </div>
                        <div class="d-grid gap-2 m-3">
                            <input type="submit" class="btn btn-block btn-warning text-white" value="Login"/>
                        </div>
                    </form>
            </div>  
        </div>
    </div>

{% endblock %}