{% extends 'base.html' %}

{% block content %}
<style>
    @media only screen and (max-width: 360px) {
     .lo{
         width: 250px;
         margin-left: 30px;
         position: relative;
         right: 45px;
     }
    }
    @media only screen and (min-width:361px) and (max-width: 500px) {
     .lo{
         width: 300px;
         position: relative;
         right: 45px;
     }
    }
    </style>
<div class="container">
    <div class="p-5 m-5">
        <div class="col-lg-5 lo mx-auto border rounded">
            <h3 class="alert alert-light border rounded">Create an Account</h3>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    {% if err != None %}
                    <div class="alert alert-danger p-2">
                        {{ err }}
                    </div>
                    {% endif %}
                    {% if success_msg != None %}
                    <div class="alert alert-success p-2">
                        {{ success_msg }}
                    </div>
                    {% endif %}
                    <div class="form-group m-2">
                        <label for="">Email</label>
                        <input type="email" 
                        name="email" id="" 
                        class="form-control" 
                        placeholder="example@gmail.com" required>
                    </div>
                    <div class="form-group m-2">
                            <label for="">Password</label>
                            <input type="password" 
                            name="password" id="" 
                            class="form-control" 
                            placeholder="Password" required>
                    </div>
                    <div class="form-group m-2">
                            <label for="">Confirm Password</label>
                            <input type="password" 
                            name="confirm_password" id="" 
                            class="form-control" 
                            placeholder="Confirm Password" required>
                    </div>
                    <div class="d-grid gap-2 m-3">
                        <input type="submit" class="btn btn-block btn-warning text-white" value="Register"/>
                    </div>
                </form>
        </div>  
    </div>
</div>

{% endblock %}